android/
ios/
node_modules/
.expo/
dist/
web-build/
debug-build/
build/
bin/
obj/
.gradle/
.cxx/

**/build/
**/.gradle/
**/.cxx/


.idea/
.vscode/
.git/
.git_disabled/

*.jks
*.keystore
*.p8
*.p12
*.mobileprovision
*.key
*.pem

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.log